
.footer.navbar-fixed-bottom
  p © 2014 / Bland Cellar - Built by 
    a(href="http://www.bland.io") Chris Bland

script(src="/js/jquery.dataTables.min.js")  
script(src='/js/datatables.js')
script(src='/js/chosen.jquery.js')
script(src='/js/jquery.validate.js')