.container
  hr
  footer.footer
    p © 2014 / Bland Cellar 
      span.pull-right Built by 
        a(href="http://www.bland.io") Chris Bland

script(src="/js/jquery.dataTables.min.js")  
script(src='/js/datatables.js')
script(src='/js/chosen.jquery.js')
script(src='/js/jquery.validate.js')
script(src='/js/bootstrap.datepicker.js')