block header
  script(src="/js/jquery.js")
  link(rel="stylesheet", href="/css/bootstrap.css")
  link(rel="stylesheet", href="/css/datatables.css")
  link(rel="stylesheet", href="/css/chosen.css")
  link(rel="stylesheet", href="/css/datepicker.css")
