extends layout

block content
  .jumbotron
    .row
      .col-md-6
        a.btn.btn-large.btn-primary(href="/add") Add a Wine
      .col-md-6
        a.btn.btn-large.btn-primary(href="/wines") View Wines
    