extends layout

block content
  .row
    .col-md-4
      .panel.panel-primary
        .panel-heading 
          strong Add a Wine
        .panel-body
          a(href="#", class="thumbnail", href="/wine")
            img(data-src="holder.js/100%x180", alt="...", src="/images/add-wine.jpg", style="max-height: 200px;")
          a.btn.btn-large.btn-success.center-block(href="/wine") 
            strong Add a Wine
    .col-md-4
      .panel.panel-primary
        .panel-heading 
          strong Find a Wine
        .panel-body
          a(href="#", class="thumbnail", href="/find")
            img(data-src="holder.js/100%x180", alt="...", src="/images/find-wine.jpg", style="max-height: 200px;")
          a.btn.btn-large.btn-success.btn-block(href="/find") 
            strong Find a Wine
    .col-md-4
      .panel.panel-primary
        .panel-heading 
          strong View All Wines
        .panel-body
          a(href="#", class="thumbnail", href="/wines")
            img(data-src="holder.js/100%x180", alt="...", src="/images/view-all.jpg", style="max-height: 200px;")
          a.btn.btn-large.btn-success.btn-block(href="/wines") 
            strong View All Wines
    