extends layout

block content
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading 
          strong Add a Wine
        .panel-body
          a(href="#", class="thumbnail", href="/add")
            img(data-src="holder.js/100%x180", alt="...", src="/images/add-wine.jpg")
          a.btn.btn-large.btn-primary.center-block(href="/add") Add a Wine
    .col-md-4
      .panel.panel-default
        .panel-heading 
          strong Find a Wine
        .panel-body
          a(href="#", class="thumbnail", href="/find")
            img(data-src="holder.js/100%x180", alt="...", src="/images/find-wine.jpg")
          a.btn.btn-large.btn-primary.center-block(href="/find") Find a Wine
    .col-md-4
      .panel.panel-default
        .panel-heading 
          strong View All Wines
        .panel-body
          a(href="#", class="thumbnail", href="/wines")
            img(data-src="holder.js/100%x180", alt="...", src="/images/view-all.jpg")
          a.btn.btn-large.btn-primary.center-block(href="/wines") View All Wines
    