extends layout

block content
  .jumbotron
    .row
      .col-md-4
        a.btn.btn-large.btn-primary(href="/add") Add a Wine
      .col-md-4
        a.btn.btn-large.btn-primary(href="/find") Find a Wine
      .col-md-4
        a.btn.btn-large.btn-primary(href="/wines") View All Wines
    