doctype 5
html
  head
    title Bland Cellar
    include header
  body
    .navbar.navbar-static-top.navbar-inverse(role='navigation')
      include menu
    .container 
      block content
    .footer
      include footer