doctype 5
html
  head
    title Bland Cellar
    include header
  body(style="background-color:#fafafa;")
    .navbar.navbar-static-top.navbar-default(role='navigation')
      include menu
    .container 
      block content
    .footer
      include footer