block menu
  .hero-unit
    .container
      .navbar-header
        a.navbar-brand(href="/") Bland Cellar
      .navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/add")
              span.glyphicon.glyphicon-plus-sign &nbsp; 
              span Add Wine 
              
          li
            a(href="/find")
              span.glyphicon.glyphicon-search &nbsp;
              span Find Wine 
              
          li
            a(href="/wines")
              span.glyphicon.glyphicon-glass &nbsp;
              span View All Wines 
            
