block menu
  .container
    .navbar-header
      a.navbar-brand(href="/") Bland Cellar
    .navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/add") 
            span Add Wine 
            span.glyphicon.glyphicon-plus-sign 
        li
          a(href="/find")
            span Find Wine 
            span.glyphicon.glyphicon-search
        li
          a(href="/wines") 
            span View All Wines 
            span.glyphicon.glyphicon-glass
