block menu
  .container
    .navbar-header
      a.navbar-brand(href="/") Bland Cellar
    .navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/add") 
            span.glyphicon.glyphicon-plus-sign 
            span Add Wine
        li
          a(href="/find") Find Wine
        li
          a(href="/wines") View All Wines